/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



header{
    text-align: center;
    letter-spacing: 1px;
    background-color: lightgray;
    border: 1px solid black;
    padding: 1%;
    font: white;
}

p.doctor{
    border-bottom: 1px solid grey ;
    padding-bottom: 10px;
}

table.physician tr:nth-child(even) 
{
    background-color: #D7EAFD
}

table.physician{
    border-collapse: collapse;
    background-color: #ECECEC;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

table.physician th{
    height: 30px;
}
table.physician, table.physician th, table.physician td {
    border: 1px solid grey;
  }